<table *ngIf="employee">
  <thead>
  <tr>
    <th [attr.colspan]="2">
      Employee Details
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Employee Code</td>
    <td>{{employee.code}}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{employee.name}}</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>{{employee.gender}}</td>
  </tr>
  <tr>
    <td>Annual Saluary</td>
    <td>{{employee.annualSalary}}</td>
  </tr>
  </tbody>
</table>
<br>
<div *ngIf="!employee">
  {{statusMessage}}
</div>

<!--Colour preference:-->
<!--<input type="text" [(ngModel)]="colour" [style.background]="colour"/>-->
<div style="margin-top: 5px">
  <input (click)="onBackButtonClick()" type="button" class="btn btn-primary" value="Back to Employees List" />
</div>
